.market {
    display: grid;
    gap: 20px;
    &__data {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }
    &__loading {
        width: 200px;
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 5px;
        padding: 5px;
    }
}